@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Bitter:ital,wght@0,200;1,400&family=Lato:ital,wght@0,400;1,300&family=Merriweather:wght@300;700&family=Montserrat+Alternates:wght@300;500&family=Oswald&family=PT+Sans+Caption:wght@700&family=Playfair+Display+SC:wght@700&family=Poppins:wght@300&family=Raleway:wght@300&family=Roboto+Slab:wght@200;500&family=Ubuntu+Mono:wght@400;700&display=swap');

/* font-family: 'Abril Fatface', cursive; */
/* font-family: 'Bitter', serif; */
/* font-family: 'Lato', sans-serif; */
/* font-family: 'Merriweather', serif; */
/* font-family: 'Montserrat Alternates', sans-serif; */
/* font-family: 'Oswald', sans-serif; */
/* font-family: 'Playfair Display SC', serif; */
/* font-family: 'Poppins', sans-serif; */
/* font-family: 'PT Sans Caption', sans-serif; */
/* font-family: 'Raleway', sans-serif; */
/* font-family: 'Roboto Slab', serif; */
/* font-family: 'Ubuntu Mono', monospace; */

* {
	font-size: 1.3vw;
	font-family: 'Poppins', sans-serif;
}

.bodyAccesoDenegado {
	background-image: url("/imgs/401.webp");
}

.bodyLogin {
	background-image: url("/imgs/fondoLogin.webp");
}

.bodyIndex {
	background-image: url("/imgs/fondoIndex.webp");
}

.bodyAccesoDenegado, .bodyLogin, .bodyIndex {
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
}

.cardIndexK{
	background: rgba(255,140,50,0.7);
}

.cardIndexG{
	background: rgba(100,100,150,0.7);
}

.card-header{
	background: rgba(0,0,0,0.2);
}

/* .card-body{ */
/* 	background: rgba(0,0,0,0.1); */
/* } */

.cardIndexK:hover{
	background: rgba(245, 59, 177, 0.8);
}

.cardIndexG:hover{
	background: rgba(52, 177, 142, 0.8);
}

.saludo{
	color:white;
}






