<div class="container py-5">
   <div class="row">
     <div class="col-md-6 text-center">
       <h3 class="mb-3">Síguenos en redes sociales</h3>
       <ul class="list-inline fs-4">
         <li class="list-inline-item"><a href="#"><i class="bi bi-facebook fs-4"></i></a></li>
         <li class="list-inline-item"><a href="#"><i class="bi bi-tiktok fs-4"></i></a></li>
         <li class="list-inline-item"><a href="#"><i class="bi bi-instagram fs-4"></i></a></li>
         <li class="list-inline-item"><a href="#"><i class="bi bi-whatsapp fs-4"></i></a></li>
       </ul>
     </div>
     <div class="col-md-6 text-md-center text-secondary">
       <p class="mb-0">© 2023 KARAB TICKETS.</p>
       <p class="mb-0">Creado por <a href="https://porfafolio.netlify.app/" target="_blank">Deivi Campos</a>.</p>
     </div>
   </div>
</div>