<meta charset="UTF-8">
<meta name="description" content="">
<meta name="author" content="Deivi Campos">
<meta name="keywords" content="">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Alura Group</title>
<script th:src="@{/webjars/bootstrap/5.2.3/js/bootstrap.min.js}" defer></script>
<script type="text/javascript" th:src="@{/js/main.js}" defer></script>
<link rel="stylesheet" th:href="@{/webjars/bootstrap/5.2.3/css/bootstrap.min.css}" />
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
