<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head th:replace="~{headApp}">
</head>
<body class="bodyIndex vh-100">
	<header class="sticky-top" >
		<div th:replace="~{NavApp}"></div>
	</header>
	<main class="container my-3 pt-5">
<!-- 		<h2 class="text-center saludo" th:text="'¡Hola! Saludos ' + ${session.user.nombre} + ' '+ ${session.user.apellido} + ', hoy es '+ ${#dates.format(#dates.createNow(), 'dd/MM/yyyy')} + '.'"></h2> -->
		<div class="col-md-12 row m-auto">
			<div class="col-md-6 text-center my-3">
			<div class="w-100 h-100 m-auto border-0 shadow cardIndexK p-3 rounded-5">
				<div class="card-header card-header rounded-3 p-3">
					<h4 class="card-title text-center text-white">Hotel Alurebi</h4>
				</div>
				<div class="card-body rounded-3 mt-2  hiddenTextAlurebi">
				  <p class="card-text p-1">Nace de la mezcla entre Komorebi y Alura, Komorebi es una palabra japonesa que describe la luz del sol que se filtra a través de las hojas de los árboles. Ubicado en el hermoso Caribe de Costa Rica, sumérgete en este ambiente mágico.</p>
				  <p class="card-text p-1">En nuestro hotel, experimentarás la sensación de komorebi en todo su esplendor.</p>
				</div>
				 <a th:href="@{/reservas/alurebi}" class="btn w-100 p-3 btn-dark rounded-3 mt-2">Reservar</a>
			</div>
			</div>
			<div class="col-md-6 text-center my-3">
				<div class="w-100 h-100 m-auto border-0 shadow cardIndexG p-3 rounded-5">
					<div class="card-header card-header rounded-3 p-3">
						<h4 class="card-title text-center text-white">Hotel Gökolura</h4>
					</div>
					<div class="card-body rounded-3 mt-2 hiddenTextGokolura">
					  <p class="card-text p-1">Nace de la mezcla de Gökotta y Alura, Gökotta es una palabra sueca que describe la experiencia de despertarse en la mañana, salir al aire libre y escuchar los sonidos de la naturaleza, especialmente de pájaros cantando.</p>
					  <p class="card-text p-1">Ofrecemos una amplia gama de actividades para conectar con la naturaleza.</p>
					</div>
					 <a th:href="@{/reservas/gokolura}" class="btn w-100 p-3 btn-dark rounded-3 mt-2">Reservar</a>
				</div>
			</div>
		</div>
	</main>
	<footer>
	</footer>
</body>
</html>