<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head th:replace="~{headApp}">
</head>
<body class="bodyReservaGokolura">
	<header class="sticky-top">
		<div th:replace="~{NavApp}"></div>
	</header>	
	<main>
		<div class="container-fluid my-5">
			 <form method="post" th:action="@{/factura/gokolura}" class="p-3">
				<div class="row">
					<div class="col-6">
						<div class="row mb-3">
							<div class="col-8">
					     		<h2>Reservación en Gokolura</h2>
					     	</div>
					     	<div class="col-4">
					     		<button type="button" class="btn btnReservaGokolura w-100 p-3 rounded-4 text-white" data-bs-toggle="modal" data-bs-target="#exampleModal">Nuevo Huésped</button>
					     	</div>
						</div>
						<div th:if="${nuevo != null && nuevo}" class="alert alert-success alert-dismissible fade show text-center" role="alert">
						  <strong>¡Éxito!</strong> El huésped ha sido creado con éxito.
						  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
						</div>
						<div th:if="${nuevo != null && !nuevo}" class="alert alert-danger alert-dismissible fade show text-center" role="alert">
						  <strong>¡Error!</strong> El huésped no pudo ser creado.
						  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
						</div>
						<div th:if="${habitacionNoDisponble != null}" class="alert alert-danger alert-dismissible fade show text-center" role="alert">
						  <strong>¡Error!</strong> No hay habitaciones disponibles para el tipo seleccionado.
						  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
						</div>
						<div class="row my-3">
					     	<div class="col-12">
					     		<div class="input-group mb-3">
								  	<label class="input-group-text" for="inputGroupSelect01">Huésped</label>
								  	<select class="form-select" id="inputGroupSelect01" name="huesped">
								   		<option th:each="huesped : ${huespedes}" th:value="${huesped.idHuesped}" th:text="${huesped.email}" class="text-center"></option>
								  	</select>
								</div>
					     	</div>
				     		<div class="col-12">
				     			<div class="input-group mb-3">
								  	<label class="input-group-text" for="inputGroupSelect01">Tipo</label>
								  	<select class="form-select" id="inputGroupSelect01" name="habitacion">
								   		<option th:each="habitacion : ${habitaciones}" th:value="${habitacion}" th:text="${habitacion}" class="text-center"></option>
								  	</select>
								</div>
				     		</div>
				     		<div class="col-6">
								<div class="input-group mb-3">
						            <label for="cantidadPersonas" class="input-group-text">Personas:</label>
						            <input id="cantidadPersonas" name="cantidadPersonas" type="number" class="form-control text-center" required min="1" value="1"/>
						        </div>
							</div>
							<div class="col-6">
				     			<div class="input-group mb-3">
								  	<label class="input-group-text" for="inputGroupSelect01">Pago</label>
								  	<select class="form-select" id="inputGroupSelect01" name="metodoPago">
								   		<option th:each="metodo : ${metodos}" th:value="${metodo.idMetodoPago}" th:text="${metodo.nombreMetodoPago}" class="text-center"></option>
								  </select>
								</div>
				     		</div>
				     		
						</div>
						<div class="row my-3">
							<div class="col-6">
								<div class="input-group mb-3">
						            <label for="fechaInicio" class="input-group-text">Inicio:</label>
						            <input id="fechaInicio" name="fechaInicio" type="date" class="form-control text-center" required/>
					       		</div>
							</div>
							<div class="col-6">
								<div class="input-group mb-3">
						            <label for="fechaFin" class="input-group-text">Fin:</label>
						            <input id="fechaFin" name="fechaFin" type="date" class="form-control text-center" required/>
						        </div>
							</div>
							<div class="col-12 text-center">
								<button type="submit" class="btn btnReservaGokolura w-25 my-3 rounded-4 p-3 my-3 text-white">Reservar</button>
								<a th:href="@{/index}" class="btn btn-secondary w-25 my-3 rounded-4 p-3 my-3">Regresar</a>
							</div>
						</div>
					</div>
					<div class="col-6">
						<div id="carouselExampleInterval" class="carousel slide " data-bs-ride="carousel">
						  <div class="carousel-inner rounded-5">
						    <div class="carousel-item active" data-bs-interval="2500">
						      <img src="/imgs/bosque01.webp" class="d-block w-100" alt="...">
						    </div>
						    <div class="carousel-item" data-bs-interval="2000">
						      <img src="/imgs/bosque02.webp" class="d-block w-100" alt="...">
						    </div>
						    <div class="carousel-item">
						      <img src="/imgs/bosque06.webp" class="d-block w-100" alt="...">
						    </div>
						    <div class="carousel-item">
						      <img src="/imgs/bosque03.webp" class="d-block w-100" alt="...">
						    </div>
						    <div class="carousel-item">
						      <img src="/imgs/bosque04.webp" class="d-block w-100" alt="...">
						    </div>
						    <div class="carousel-item">
						      <img src="/imgs/bosque07.webp" class="d-block w-100" alt="...">
						    </div>
						    <div class="carousel-item">
						      <img src="/imgs/bosque05.webp" class="d-block w-100" alt="...">
						    </div>
						  </div>
						  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
						    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
						    <span class="visually-hidden">Previous</span>
						  </button>
						  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
						    <span class="carousel-control-next-icon" aria-hidden="true"></span>
						    <span class="visually-hidden">Next</span>
						  </button>
						</div>
					</div>
				</div>
			</form>
		</div>
	</main>	
	<footer>
	
	
	</footer>
	
	<!-- Modal -->
	<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
	  <div class="modal-dialog modal-dialog-centered modal-lg">
	    <div class="modal-content">
	      <div class="modal-header text-bg-dark">
	        <h1 class="modal-title fs-5" id="exampleModalLabel">Detalles del nuevo huésped</h1>
	        <button type="button" class="btn-close text-bg-secondary" data-bs-dismiss="modal" aria-label="Close"></button>
	      </div>
	      <div class="modal-body">
	        <form th:action="@{/huesped/nuevo}" method="post">
	        <input name="destino" value="/reservas/gokolura" type="hidden">
			  <div class="row">
			    <div class="col-md-6">
			    	<div class="form-floating mb-3">
			        	<input type="text" class="form-control text-center" id="nombre" placeholder="Nombre" required name="nombre">
			        	<label for="nombre">Nombre</label>
			        </div>
			      	<div class="form-floating mb-3">
			        	<input type="text" class="form-control text-center" id="apellido" placeholder="Apellido" required name="apellido">
			        	<label for="apellido">Apellido</label>
			      	</div>
			      	<div class="form-floating mb-3">
			        	<input type="email" class="form-control text-center" id="email" placeholder="Email" required name="email">
			        	<label for="email">Email</label>
			      	</div>
			    </div>
			    <div class="col-md-6">
			      	<div class="form-floating mb-3">
			        	<input type="date" class="form-control text-center" id="fechaNacimiento" placeholder="Fecha de Nacimiento" required name="fechaNacimiento">
			        	<label for="fechaNacimiento">Fecha de Nacimiento</label>
			      	</div>
			      	<div class="input-group mb-3">
						  	<label class="input-group-text" for="inputGroupSelect01">País</label>
						  	<select class="form-select p-3" id="inputGroupSelect01" name="pais" required>
						   		<option th:each="pais : ${paises}" th:value="${pais.idPais}" th:text="${pais.nombre}" class="text-center"></option>
						  </select>
						</div>
			      	<div class="form-floating mb-3">
			        	<input type="tel" class="form-control text-center" id="telefono" placeholder="Teléfono" required name="telefono">
			        	<label for="telefono">Teléfono</label>
			      	</div>
			    </div>
			  </div>
			 	<div class="modal-footer">
	        		<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
	        		<button type="submit" class="btn btn-primary">Guardar</button>
	      		</div>
			</form>
	      </div>
	    </div>
	  </div>
	</div>
</body>
</html>